/*We remove the default margins and padding to define the size of each element ourselves.*/
*{ 
    margin:0;
    padding:0;
    font-weight: normal;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; /**ajout un effet au scroll vers les a ()*/
}
a{
    text-decoration: none;
    color: #4B570D;
}
ul{
    list-style: none;
}
p{
    color:#683614 ;
}
/*******************************************************FONTS*******************************************/
@font-face {
    font-family: 'yesevaOne';
    src: url('/fonts/YesevaOne-Regular.eot');
    src: url('/fonts/YesevaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/YesevaOne-egular.woff2') format('woff2'),
        url('/fonts/YesevaOne-Regular.woff') format('woff'),
        url('/fonts/YesevaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ralewayThin';
    src: url('../fonts/Raleway-Thin.eot');
    src: url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Thin.woff2') format('woff2'),
        url('../fonts/Raleway-Thin.woff') format('woff'),
        url('../fonts/Raleway-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ralewayBold';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RalewayLight';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ralewayRegular';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ralewaySemiBold';
    src: url('../fonts/Raleway-SemiBold.eot');
    src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff'),
        url('../fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/***********************************************FIN FONT********************************************************/
/***********************************************HEADER**********************************************************/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5px;
    align-items: center;
    height: 70px;
}
header>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header div img {
    width: 30px;
    height:30px;
    margin: 0 10px;
}
header div p {
    color:#4B570D;
    font-weight: bold;
    justify-content: flex-end;
    margin-top: 5px;
    font-family: yesevaOne;
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
}
header nav ul {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
header nav ul li{
    margin-right: 45px;
}
header nav ul a{
    font-size: 16px;
    text-decoration: none;
    color: #4B570D;
}
header nav ul li:nth-child(4) {/***petit trait */
    color: #683614; /* Couleur marron */
}
header nav ul li:last-of-type img{
    height: 20px;
}
/******************************************FIN HEADER*************************************************************/
/****************************************** FOOTER***************************************************************/
footer{
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    color: #4B570D;
    background-color: #ECD7C2;
}
footer section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
footer section div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div img {
    width: 50px;
    height: 50px;
    justify-content: center;
    margin-bottom: 10px;
}
.firstLiFooter{
    margin-bottom: 10px;
    font-weight: bold;
}
footer section:nth-of-type(2) {
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
footer section:nth-of-type(2) ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
footer section:nth-of-type(2) ul li{
    padding: 10px;
}
#NousSuivre {
text-align: center;
}
footer ul{
    list-style: none;
    flex-wrap: wrap;
}
#logoshoes{
    width: 24px;
    height: 24px;
}
#logoinsta{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
/***********************************************END FOOTER*****************************************************/
/************************************************INDEX********************************************************/
body {
    background-color: #FFF7EE;
    height: 100vh;
    margin : 0 auto;
}
#mainIndex .texte{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5px;
}
h4 {
    color: #c68d5e;
    margin-top: 15px;
    font-size: 25px;
}

#mainIndex .texte h2 {
    margin-bottom: 10px;   
}
.texte a{
    color: #FFF7EE;
    background-color: #DC5527;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
   border: none;
   cursor: pointer;
   font-size: 14px;
   margin-top: 10px;
}
#mainIndex .texte a:hover{
    background-color: #FF5C24;
}
#mainIndex .firstLineTitle{
    color: #c68d5e;
    font-size: 40px;
    text-indent:-5% ;
    border-radius: 2px solid black;
    }
    
#mainIndex .secondLineTitle{
    color: #4b570d;
     margin-bottom: 5px;
     padding: 20px;
    font-size: 60px;
}
/******************************************DEBUT SECTION 1********************************/
#mainIndex section:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
}
#mainIndex section:nth-of-type(1) div img {
    height: 60vw;
    max-height:600px;  
    margin-top: 20px;
}
#mainIndex .soeureinement::first-line{
    color: #4B570D;
    font-size: 60px;
    margin-bottom: 10px;
}
#mainIndex section:nth-of-type(1) .texte {
    margin-left: 70px;
}
/**********************************************FIN SECTION 1******************************************************/
/*********************************************DEBUT SECTION 2*****************************************************/
#mainIndex section:nth-of-type(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mainIndex section:nth-of-type(2) img {
    height: 60vw;
    max-height:600px;
}
#mainIndex section:nth-of-type(2).texte {
        margin-left: 70px;
    }
/**********************************************FIN SECTION 2*****************************************************/
/********************************************DEBUT SECTION 3****************************************************/
#mainIndex section:nth-of-type(3){
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#mainIndex section:nth-of-type(3) img {
    height: 60vw;
    max-height: 600px;
    margin-bottom:20px; 
}
#mainIndex section p{

    margin-top: 10px;
    line-height: 20px ;
}
/******************************************FIN SECTION 3*******************************************************/
/******************************************DEBUT FOCUS********************************************************/
#mainIndex .focus{
    width: 80%;
    padding: 50px;
    background:mistyrose;
    margin: 20px auto;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap; 
}   
#mainIndex .focus>div:first-of-type{
    overflow: hidden;
}
.focus>div:nth-of-type(2){
margin: 0 auto;
}
#imgfocusIndex{
    width: 350px;
    max-height: 400px;
    border-radius: 15px;
    margin-left: 15px;
}
#mainIndex .focus>div{
    margin-right: 30px;
}
/*********************************************FIN FOCUS********************************************************/
/******************************************ADMIN***************************************************************/
#mainAdmin{
    display: flex;
    justify-content: space-between;
    height: 80vh;
}
#formAdmin{
    margin-left: 100px;
    margin-bottom: 20px;
}
#formAdmin h2 {
    color: #4B570D;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
/*************************************MODIF CHAMP TEXTE FORMULAIRE**********************************************/
input[type=text], [type=datetime-local],[type=number], textarea{
    padding: 12px 20px;
    display: inline-block;
    background-color: #FFF3E6;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #683614;
    font-family: "ralewayThin";
    font-size: 16px;
    outline: none;
    resize: none;
}
/*********************************FIN MODIF CHAMP TEXTE FORMULAIRE*********************************************/
#formAdmin textarea {
    height: 150px;
    width: 635px;
}
/***********************************MODIF BOUTON SUBMIT FORMULAIRE********************************************/
  input[type=submit] {
    background-color: #DC5527;
    color: #FFF3E6;
    padding: 10px 20px;
    display: block;
    width: 20%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
}
  input[type=submit]:hover{
    background-color: #FF5C24;
}
/********************************* FIN MODIF BOUTON SUBMIT FORMULAIRE******************************************/
/*****************************************FIN ADMIN************************************************************/


/***************************************** BEGINNING MAP******************************************************/
#mainMap .firstLineTitle{
    color: #c68d5e;
    font-size: 50px;
    text-indent:-20% ;
}
    
#mainMap .secondLineTitle{
    color: #4b570d;
    margin-bottom: 5px;
    padding: 20px;
    font-size: 60px;
}       
#mainimg {
     height: 50%;   
}
#mainMap  { 
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: "30vw";
}


/* END MAP */


/****BEGINNING RandoDetail********/

#randoDetail{

    flex-direction: column;
}   

#sectionRandoDetails{
    display: flex;
}
      
#asideButton{
    display: flex;
    align-items: center;
    justify-content: center;
}   
#randoDetail aside button{ 
    background-color: #DC5527;
    color: #FFF3E6;
    padding: 10px 20px;
    display: block;
    width: 80%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}
    
    

    
#randoDetail main section ol{
    margin-top: 15px;
    margin-bottom: 10px;
}
    
#randoDetail  main section ol li{
    line-height: 20px;
    color: #683614;
}
#randoDetail figure img{
    max-width: 400px;
    height: 500px;
     margin: 50px;
    border-radius: 5%;
}
@media screen AND (max-width: 400px){
    #randoDetail figure img{
        max-width: 100%;
        height: 100px;
        margin: 20px;
        border: blue;
    }
    
}
#randoDetail .firstLineTitle{
    color: #c68d5e;
    font-size: 50px;
}
        
        
#randoDetail .secondLineTitle{
    color: #4b570d;
    margin-bottom: 5px;
    padding: 20px;
    font-size: 60px;
    text-indent: 15%
} 
#randoDetail section h4{
     margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bolder;
    color: #683614;
}  
#randoDetail section p {
    line-height: 20px;   
}
    
    
#avis{
     margin-top: 40px;
    padding: 20px;
    color: #683614;
}   
#addReview{
     margin-bottom: 15px;  
}
    
#randoDetail .accordion {
     background-color: #FFF7EE;
     color: #683614;
     cursor: pointer;
     padding: 18px;
     width: 100%;
    text-align: left;
     border: none;
    outline: none;
     transition: 0.4s;
}
    
    
#randoDetail .panel {
    padding: 0 18px;
    background-color: #FFF7EE;
    display: none;
     overflow: hidden;
}
    
#randoDetail .active, .accordion:hover {
    background-color: #FFF7EE;
    color: #683614;
}
    
#randoDetail .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #FFF7EE ;
    float: right;
    margin-left: 5px;
     color: #683614;
}
      
#randoDetail .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: #683614;
}

#randoDetail .pictureAccordion {
    height: 300px;
    border-radius: 5%;
}
    
#randoDetail .form-check-input{
     color: #683614;
}
    
/******FORM******/

#randoDetail .row{
    padding-top: 30px;
    padding-bottom: 15px;
    color: #683614;
    font-weight: bold;     
}
    
#randoDetail .mb-3{
    color: #683614;
}
    
#emailHelp{
    color: #683614;
}   
#check{
    color: #683614; 
}  
#randoDetail  textarea {
    padding: 12px 20px;
    display: inline-block;
     background-color: #FFF3E6;
     border-radius: 4px;
     box-sizing: border-box;
     border: 1px solid #683614;
     font-family: "ralewayThin";
     font-size: 16px;
     outline: none;
}   
#buttonFrom{
    display: flex;
    justify-content: flex-end;
}
#buttonSend{
    background-color: #DC5527;
    color: #FFF3E6;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}
/************************************BEGINNING FOCUS**********************************************************/   
#focusCard{
    display: flex;
} 
#focusRandoDetail{
    width: 80%;
     padding: 50px;
    background:mistyrose;
    margin: 20px auto;
    border-radius: 50px;
}
#focusRandoDetail a{
     color: #683614;
}
#cardRandoDetail{
    max-width: 30%;
    max-height: 600px;
    position: relative;
    margin:  35px;
}   
#cardRandoDetail img{
    border-radius: 20px;
     height: 250px;
}      
#cardRandoDetail button{
    background-color: #DC5527;
    color: #FFF3E6;
    padding: 10px 20px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
     cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}
#cardRandoDetail button:hover{
    background-color: #FF5C24;
}
#cardRandoDetail #titreCard {
    color: #4B570D;}
    .card a:link{
    color: #683614;
}
#cardRandoDetail a:hover{
    border-bottom: 2px solid #683614;
}
#cardRandoDetail .niveau {
    background-color: #FFF3E6;
    border-radius: 8px;
    border: 2px solid #4B570D;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 14px;
}
    
#linkFocusSeeHinking{
    display: flex;
    justify-content: flex-end;
}
/***********************************************END FOCUS*******************************************************/
/********************************************END RandoDetail****************************************************/


/********************************************CONSEILS MAIN******************************************************/
#conseils section {
    display: flex;
}
#asideConseils{
display: flex;
flex-direction: column;
align-items: center;
}

#nosConseils{
margin: 30px;
border: 2 px solid green;
}      
#conseils aside figure img {

max-width: 450px;
}
#conseils aside button{


margin-top: 30px;
background-color:#DC5527;
color: #FFF3E6;
padding: 8px 30px;
display: block;
width: 80%;
border: none;
border-radius: 10px;
cursor: pointer;
font-size: 14px;
 
}
#conseils aside div{

    margin-top: 40px;
}
#conseils .firstLineTitle{
color: #c68d5e;
font-size: 30px;
text-indent:10% 

}
    
#conseils .secondLineTitle{
    color: #4b570d;
    font-size: 60px;
    margin-bottom: 10px;
}
#focusConseils_1{
    max-height: 350px ;
    background:mistyrose;
    margin:150px auto;
    border-radius: 50px;
    display: flex;
    
}
#focusConseils_2{
    max-height: 350px ;
    background:mistyrose;
    margin:150px auto;
    border-radius: 50px;
    display: flex;
  
}


#focusConseils_3{ 
    max-height: 350px ;
    background:mistyrose;
    margin:150px auto;
    border-radius: 50px;
    display: flex;

  }

#conseils .divFocus>div:first-of-type{
    overflow: hidden;
}

#conseils .focus>div:nth-of-type(2){

margin: 0 auto;
}

#conseils .divFocus{
    width: 30%;

}
#conseils .imgFocus {

    height: 300px;
    border-radius: 15px;
     margin-left: 15px;
    margin-top: 10px;
    padding: 10px;
} 

#conseils .texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-height: 350px ;
    width: 100%;

} 
 
/********* END CONSEILS *************/
/******************************************Connexion*************************************************************/
/*Formulaire de connexion*/
#mainConnexion {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap; /* Permet à flex items de passer à la ligne s'ils ne rentrent pas */
}
/*container de la figure*/
#mainConnexion figure{
max-width: 100%;/*width: 50%;*/
display: flex;
justify-content: center;
 }
/*img barbapapa connexion*/
#mainConnexion .imgConnex{
    max-width: 100%;
 }
/*container général*/
#container {
    width: 40%; /*width:100% ; Utiliser la largeur totale sur les petits écrans */
}
/*div du formulaire connexion*/
 #conInsc  {
    text-align: center;
    width: 120%
}
/*Centrer le titre et lui donner couleur*/
#mainConnexion .h1Titre {
    color: #4B570D;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    font-size: 60px;
}
/* Inputs du formulaire Connexion*/ 
#mailConnnex {
        border :2px #C68D5E solid;
        border-radius: 10px;
        background-color: #FFF3E6 ;
        box-sizing: border-box;
        padding: 10px;
    }
/* Bouton Se Connecter*/
#btnSeConnecter{
    margin: 0 auto;
    background-color: #DC5527;
    color: #fff7ee;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
}
#btnSeConnecter:hover{
    background-color: #FF5C24;
}
/* a href ppour diriger ves la page de MDP*/
#mainConnexion .modifMdp {
    display: block;
    margin-bottom: 5%;
    padding: 5px;  
    text-decoration: underline;
    margin: 10px;
}
/*Trait "Ligne vert après Modifier MDP"*/
hr {
        width: 40%; /* Définir la largeur de la ligne horizontale */
        margin: 20px auto; /* Marge automatique pour centrer verticalement */
        border: 1px solid #4B570D; /* Style de la ligne horizontale */
  }
/* Bouton "Je m'inscris" */
#btnJeMinscris {
   /* display: block;*/
    margin: 0 auto;
    background-color: #DC5527;
    color: #fff7ee;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
   /* width: 15%;*/
}
#btnJeMinscris:hover{
    background-color: #FF5C24;
}
/********************************************Inscription*********************************************/
#mainInscription {
    display: flex;
}
/*container de la figure*/
#mainInscription figure{
width: 50%;
display: flex;
justify-content: center;
 }
/*img barbapapa connexion*/
#mainInscription .imgConnex{
    max-width: 100%;
 }
/*container général*/
#containerInscription {
    width: 40%;
}
/*div du formulaire Inscription*/
#Inscription {
    width: 120%;
    text-align: center;
    margin-left: 10%;
}
/*Centrer le titre et lui donner couleur*/
#mainInscription .h1Titre {
    color: #4B570D;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    font-size: 60px;
}
/* Inputs du formulaire Connexion*/
#formInsc input {
    border :2px #C68D5E solid;
    border-radius: 10px;
    background-color: #FFF3E6 ;
    box-sizing: border-box;
    padding: 10px;
}
#formInsc label{
    color:#683614;
    font-size: 16px;
    display: block;
    margin-bottom: 5%;
    padding: 5px;
    margin: 10px;
}
.aInsc:hover{
    font-size: 16px;
    display: block;
    margin-bottom: 5%;
    padding: 5px;
    text-decoration: underline;
}
#btnsInscrire {
    display: block;
    margin: 0 auto;
    background-color: #DC5527;
    color: #FFF7EE;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    width: 15%;
}
/* Ajoutez ces styles pour styliser le bouton s'inscrire*/
#btnsInscrire:hover{
    background-color: #FF5C24;
}
/************************************************FIN INSCRIPTION***************************************************************************/
/************************************DEBUT TABLEAU DE BORD**************************************/
#mainTdeBord{
    display: flex;
}
/************************************DEBUT MODIF IMGNOM USER**************************************/
#imgNomUserGuide{
    
    width: 20%;
    text-align: center;
    padding-left: 20px;
}
#mainGuide #imgNomUserGuide img{
    width: 10em;
    height: 10em;
    border-radius: 100%;
}
#mainGuide #imgNomUserGuide div{
    border: 1px solid;
    border-radius: 50px;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    font-family: ralewayBold;

}
/************************************FIN MODIF IMGNOM USER**************************************/
/************************************DEBUT MODIF RANDO USER **************************************/
#mainGuide #infoGuide{
    
    max-width: 100%;
    background-image: url("/img/barbapapaAdmin.png");
    background-repeat: no-repeat;
    background-position: right top;

}
#mainGuide #mesButtonGuide{
    display: flex;
    justify-content: center;
}


#mainGuide #monPlanning button:hover{
    background-color: #FF5C24;
}
#mainGuide #monPlanning{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
}

#mainGuide #monGroupe{
    display: none
}

#mainGuide #monGroupeGuide{
    border: 1px solid #683614;
    width: 60%;
    display: flex;
    justify-content: center;
    padding-top:10px;
    padding-bottom:10px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #FFF3E6;
    border-radius: 20px;
   
}
    
#mainGuide #mesButtonGuide button{
    background-color: #DC5527;
    color: #FFF3E6;
    padding: 10px 20px;
    display: block;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    margin-right: 20px;
}

#mainGuide #mesButtonGuide button:hover{
    background-color: #FF5C24;
}

/* CATA RANDO  */

.cataRando #section1R {
    border-bottom: 1px solid #C68D5E;
    padding-bottom: 10px;
}
.cataRando #section1R div:first-child{
    text-align: center;
}
.cataRando #section1R div:nth-of-type(2){
    text-align: end;
}
.cataRando #section1R input[type=text]{
    border: none;
    border-radius: 20px;
    padding: 12px 20px;
    outline: none;
}
/***********************************************FIN MODIF SECTION TITRE*********************************************/
.cataRando #section2R{
margin: 30px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.cataRando #section2R .card{
    max-width: 300px;
    max-height: 600px;
    position: relative;
    margin-right: 50px;
    margin-bottom: 50px;
}
.cataRando #section2R img{
    border-radius: 20px;
    height: 250px;
}
.cataRando #section2R .card button{
    background-color: #DC5527;
    color: #FFF3E6;
    padding: 10px 20px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}
.cataRando #section2R .card button:hover{
    background-color: #FF5C24;
}
.cataRando #section2R .card #titreCard {
    color: #4B570D;
}
.cataRando #section2R .card a:link{
    color: #683614;
}
.cataRando #section2R .card a:hover{
    border-bottom: 2px solid #683614;
}
.cataRando #section2R .card .niveau {
    background-color: #FFF3E6;
    border-radius: 20px;
    border: 2px solid green;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 10px;
    right: 5px;
}
/******************************************DEBUT FOCUS********************************************************/
.cataRando .focus{
    width: 80%;
    padding: 50px;
    background:mistyrose;
    margin: 20px auto;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
}
.cataRando .focus>div:first-of-type{
    overflow: hidden;
}
.cataRando .focus>div:nth-of-type(2){
margin: 0 auto;
}
.cataRando #imgfocusIndex{
    width: 100%;
    max-width: 300px;
    max-height: 400px;
    border-radius: 15px;
    margin-left: 15px;
}

